/*
   Content
   ========================================================================== */
.site-content {
    padding-top: 40px;
    padding-bottom: 40px;
    .sticky {
        display: block;
    }
    .hentry {
        @include clearfix;
        margin: rem-calc(0 0 60);
    }
    .byline,
    .updated:not(.published) {
        display: none;
    }
    .single .byline,
    .group-blog .byline {
        display: inline;
    }
    .page-content,
    .entry-content,
    .entry-summary {
        @include clearfix;
        margin: rem-calc(30 0 0);
    }
    .comments-link {
        float: right;
    }
    .page-links {
        clear: both;
        margin: rem-calc(0 0 30);
    }
    .edit-link {
        display: block;
    }
}
