/*
   Content
   ========================================================================== */
.site-content {
    padding-top: 40px;
    padding-bottom: 40px;
    .sticky {
        display: block;
    }
    .hentry {
        @include clearfix;
        margin: rem-calc(0 0 60);
    }
    .byline,
    .updated:not(.published) {
        display: none;
    }
    .single .byline,
    .group-blog .byline {
        display: inline;
    }
    .page-content,
    .entry-content,
    .entry-summary {
        @include clearfix;
        margin: rem-calc(30 0 0);
    }
    .posted-on {
        margin-right: 1rem;
        &:before {
            @extend %fontawesome;
            content: "\f073";
            margin-right: 5px;
            position: relative;
        }
    }
    .byline {
        margin-right: 1rem;
        &:before {
            @extend %fontawesome;
            content: "\f007";
            margin-right: 5px;
            position: relative;
        }
    }
    .cat-links {
        margin-right: 1rem;
        &:before {
            @extend %fontawesome;
            content: "\f07c";
            margin-right: 5px;
            position: relative;
        }
    }
    .tag-links {
        margin-right: 1rem;
        &:before {
            @extend %fontawesome;
            content: "\f02b";
            margin-right: 5px;
            position: relative;
        }
    }
    .comments-link {
        float: right;
    }
    .page-links {
        clear: both;
        margin: rem-calc(0 0 30);
    }
    .edit-link {
        display: block;
    }
}
