/*
   Global
   ========================================================================== */
.container {
    @include grid-row;
    padding-left: $column-gutter / 2;
    padding-right: $column-gutter / 2;
}

.site-content {
    word-wrap: break-word;
    @include grid-row;
    .content-area {
        @extend .medium-8;
        @extend .columns;
    }
    .site-sidebar {
        @extend .medium-4;
        @extend .columns;
        @extend .hide-for-print;
    }
    .full-width {
        @extend .medium-12;
    }
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
    max-width: 100%;
}

figure,
img {
    max-width: 100%;
    height: auto;
}

input[type="submit"] {
    @include button($padding: $button-sml, $radius: true);
}

@media screen and (max-width: 782px) {
    #wpadminbar {
        position: fixed;
    }
}
