/*
   Header
   ========================================================================== */
.site-header {
    .name .site-title a {
        width: auto;
    }
    .admin-bar &.fixed {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}
