/*
   Sidebar
   ========================================================================== */
.site-sidebar {
    @include widget-lists;
    .menu {
        @include side-nav;
    }
    .widget {
        margin: rem-calc(0 0 30);
    }
    /* Make sure select elements fit in widgets */
    .widget select {
        max-width: 100%;
    }
    /* Search widget */
    .widget_search .search-submit {
        display: none;
    }
}
